@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Mochiy+Pop+One&family=Rajdhani:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/fondo.png);
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INICIO LOGO Y NAV */

header {
    background-color: #407ba7;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.logo { 
    display: flex;
    align-items: center;
}

.logo img { 
    width: 300px;
    margin-left: 2em;
}

.navegador{
    display: flex;
}


.navegador ul{
    display: flex;
    align-items: center;    
}

.navegador ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}

.navegador ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 0.8em;   
}

.navegador ul li a:hover{
    border-bottom: solid 2px  #00043a;
    color: #00043a;
}

/* FIN DEL LOGO Y NAV */

/* INICIO DE SECCION*/

article { 
    background-color: #fff ;
    width: 95%;
    height: 100%;
    align-items: center;
    padding-top: 8em;
}

/* <<<<< SECCION  1 >>>>> */

.section-1{
    display: flex;
    margin: 0 3em 13em 3em;
}

    .section-1 .b1{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-1 .b1 h1{
        text-align: center;
        font-size: 2.5em;
        margin: 2em 0 0.5em 0;
    }

    .section-1 .b1 p {
        text-align: center;
        margin-bottom: 1em;
        font-weight: 500;
    }

    .section-1 .b1 a {
        text-decoration: none;
        padding: 8px;
        background-color: #ff002b;
        border-radius: 5px;
        color:white;

    }

    .section-1 .b2{
        width: 50%;
        height: 200px;
    }
    
    .section-1 .b2 img{
        width: 540px;
        height: 380px;    
    }          

    /* <<<<< SECCION  1 >>>>> */

    /* <<<<< SECCION  2 >>>>> */

    .section-2 p {
        text-align: center;
        margin: 0 10em 0 10em;
        font-size: 1.2em;
    }

     /* <<<<< SECCION  2 >>>>> */

    /* <<<<< SECCION  3 >>>>> */
.section-3 {
    background-color: white;
    width: 100%;
    display: flex;
}
    .section-3 {
        margin: 6em 0 2em 0em;
    }

    .section-3 .b3 img{
        width: 540px;
        height: 380px;   
    }

    .section-3 .b4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 4em 0 1em;
    }
    
    .section-3 .b4 h2{
        margin-bottom: 1em;
    }
    /* <<<<< SECCION  3 >>>>> */

    /* <<<<< SECCION  4 >>>>> */

.section-4 { 
    background-color: #407ba7;
    width: 100%;
    margin-top: 4em;
    display: flex;
    justify-content: center;
}
    .section-4 .formulario h2 { 
        text-transform: uppercase;
        padding: 1em 0 1em 0;
        

    }
    .section-4 .formulario {
        display: flex;
        flex-direction: column;
        margin: 1em 3em 2em 10em;
        color:white;
    }

    .section-4 .formulario input { 
        margin-bottom: 0.8em;
        height: 30px;
        width: 280px;
        border-radius: 3px;
        border-style: none;
    }

    .section-4 .formulario textarea { 
        margin: 1.2em 0 1.2em 0;
    }

    .section-4 .formulario ::placeholder {
        padding-left: 0.8em;
        text-transform: uppercase;
        font-size: 0.8em;
    }

    .section-4 .formulario .btn { 
        background-color: #ff002b;
        color:white;
        text-transform: uppercase;
    }

    

/* FIN DE SECCION*/


/*  <<<<< FOOTER >>>>> */

footer {
    background-color: rgba(0, 0, 0, 0.973) ;
    width: 100%;
    height: 110px;
    padding: 2em 0 2em 0; 
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    .pie-b1 {
        width: 30%;
        margin-left: 8em;
    }

    footer ul li {
        list-style: none;
        margin-bottom: 4px;
    }

    footer ul li a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;

}
    .pie-b3 { 
        width: 30%;
        margin-left: 8em;
    }
    
    .pie-b3 p {
        margin: 0 0 1em 3em;
    }

    .pie-b3 img { 

        width: 42px;
        height: 42px;
        margin-left: 3em;
    }